<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.ProviderDao">
    <select id="findProvider" resultType="user.Provider">
        SELECT * FROM t_provider WHERE name = #{arg0} AND password = #{arg1}
    </select>
    <insert id="addProvider" parameterType="user.Provider">
        INSERT INTO t_provider(name, password) VALUES(#{name}, #{password})
    </insert>
    <select id="findAllProviders" resultType="java.lang.String">
        SELECT name FROM t_provider
    </select>
</mapper>